echo __pycache__/ > .gitignore
echo .ipynb_checkpoints/ >> .gitignore
echo chat_history/ >> .gitignore
echo checkpoint-*/ >> .gitignore
echo *.pt >> .gitignore
echo *.bin >> .gitignore
echo *.csv >> .gitignore
echo venv/ >> .gitignore
echo *.pkl >> .gitignore
echo *.h5 >> .gitignore
echo *.zip >> .gitignore
echo *.tar >> .gitignore
echo *.tar.gz >> .gitignore
echo *.ckpt >> .gitignore
echo .DS_Store >> .gitignore
